google-adk==1.14.1
absolufy-imports
anyio
authlib
click
fastapi
google-api-python-client
google-cloud-aiplatform
google-cloud-bigtable
google-cloud-secret-manager
google-cloud-spanner
google-cloud-speech
google-cloud-storage
google-genai
graphviz
mcp
opentelemetry-api
opentelemetry-exporter-gcp-trace
opentelemetry-sdk
pydantic
python-dateutil
python-dotenv
pyyaml
requests
sqlalchemy
sqlalchemy-spanner
starlette
tenacity
typing-extensions
tzlocal
uvicorn
watchdog
websockets
